@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --font-size: 13px;
  --font-family: Roboto, sans-serif;
  
  --primary-color:rgba(255,255,255);
  --warning-color:rgb(220, 53, 69);
  --second-color:linear-gradient(to right top, rgb(33, 33, 33), rgb(66, 66, 66));
}
@media (width < 1200px) {
  :root{
    font-size: 14px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100%;
  min-height: 100vh;
}
/*animated buttons*/
.anim-btn{
  position: relative;
}
.anim-btn::after{
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  width: 0;
  height: 0.2rem;
  bottom: 0.2rem;
  left: 50%;
  transition: width 0.5s ease,
              left 0.5s ease;
  border-radius: 8px;
}
.anim-btn:hover::after{
  width: calc(100% - 4%);
  left: 2%;
}



